## Capstone Project, Hw8. 
#### Felicitas Ruiz
#### TFCB_2020

In [20]:
#First start by importing pandas
import pandas as pd

In [21]:
# Read in files from Fisher's famous iris dataset, which contains anatomical data on a variety of flowers
# read_csv returns a pandas dataframe

#Full_pcbil_raw = pd.read_csv('data/pcbil_raw.csv')
#pcbil_clinicaldata_patientdata_messy = pd.read_csv('data/pcbil_clinicaldata_patientdata_cleanup.csv')
Filtered = pd.read_csv('data/pcbil_clinicaldata_PLOS_REVISION.csv')

In [22]:
Filtered.head(10)

,pad,person_number_anon,date_birth,gender,chemo,date_pad,type_probe,p_r,p_t,p_n,p_m,p_l,p_v,p_pn,date_death,comments
0,Ampulla Ac|124,PN1,3/5/1936,m,y,4/26/2005,r,0.0,3,1,NaN,NaN,NaN,NaN,4/13/2007,NaN
1,Ampulla Ac|173,PN2,11/10/1939,m,y,1/21/2010,r,0.0,1,0,x,1,0,NaN,8/30/2012,NaN
2,Ampulla Ac|177,PN3,5/27/1917,f,NaN,9/20/2005,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/28/2006,NaN
3,Ampulla Ac|200,PN4,5/29/1932,f,n,2/9/2012,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/16/2012,NaN
4,Ampulla Ac|225,PN5,11/23/1936,m,n,4/18/2011,r,0.0,2,0,x,1,0,NaN,8/14/2011,NaN
5,Ampulla Ac|235,PN6,11/23/1931,m,NaN,5/6/2009,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/11/2009,NaN
6,Ampulla Ac|237,PN7,6/5/1955,f,y,4/14/2008,r,NaN,1,0,NaN,NaN,NaN,NaN,2/3/2010,NaN
7,Ampulla Ac|241,PN8,8/11/1969,m,y,6/18/2009,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/22/2010,NaN
8,Ampulla Ac|254,PN9,1/1/1973,m,n,10/26/2009,r,0.0,3,1,x,0,0,NaN,NaN,NaN
9,Ampulla Ac|262,PN10,10/17/1923,f,n,8/27/2002,r,NaN,3,0,x,NaN,NaN,NaN,8/7/2014,NaN

In [23]:
# this is how we import numpy
import pandas as pd
filter_df = pd.DataFrame(Filtered)

In [27]:
pad_column=filter_df["pad"]
pad_column

0         Ampulla Ac|124
1         Ampulla Ac|173
2         Ampulla Ac|177
3         Ampulla Ac|200
4         Ampulla Ac|225
             ...
386    Perihilary Ac|419
387    Perihilary Ac|437
388      Perihilary Ac|6
389      Perihilary Ac|7
390      Perihilary Ac|9
Name: pad, Length: 391, dtype: object

In [33]:
pad_only_list=[]
pad_number_list=[]
for item in filter_df["pad"]:
    new_item=item.split("|")
    pad_only=new_item[0]
    pad_number=new_item[1]
    pad_only_list.append(pad_only)
    pad_number_list.append(pad_number)
#pad_number_list 
#pad_only_list

In [35]:
filter_df

,pad,person_number_anon,date_birth,gender,chemo,date_pad,type_probe,p_r,p_t,p_n,p_m,p_l,p_v,p_pn,date_death,comments
0,Ampulla Ac|124,PN1,3/5/1936,m,y,4/26/2005,r,0.0,3,1,NaN,NaN,NaN,NaN,4/13/2007,NaN
1,Ampulla Ac|173,PN2,11/10/1939,m,y,1/21/2010,r,0.0,1,0,x,1,0,NaN,8/30/2012,NaN
2,Ampulla Ac|177,PN3,5/27/1917,f,NaN,9/20/2005,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/28/2006,NaN
3,Ampulla Ac|200,PN4,5/29/1932,f,n,2/9/2012,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/16/2012,NaN
4,Ampulla Ac|225,PN5,11/23/1936,m,n,4/18/2011,r,0.0,2,0,x,1,0,NaN,8/14/2011,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Perihilary Ac|419,PN359,12/8/1975,m,NaN,6/27/2011,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/20/2012,NaN
387,Perihilary Ac|437,PN360,2/17/1932,f,n,12/10/2008,r,0.0,3,x,x,0,0,NaN,NaN,NaN
388,Perihilary Ac|6,PN361,4/13/1957,f,n,11/28/2011,r,0.0,2,0,NaN,0,0,1.0,NaN,NaN
389,Perihilary Ac|7,PN361,4/13/1957,f,n,11/28/2011,r,0.0,2,0,NaN,0,0,1.0,NaN,NaN
390,Perihilary Ac|9,PN362,11/7/1944,m,y,10/7/2009,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/14/2013,NaN

In [36]:
filter_df["pad_only"]=pad_only_list
filter_df["pad_number"]=pad_number_list

In [37]:
filter_df

,pad,person_number_anon,date_birth,gender,chemo,date_pad,type_probe,p_r,p_t,p_n,p_m,p_l,p_v,p_pn,date_death,comments,pad_only,pad_number
0,Ampulla Ac|124,PN1,3/5/1936,m,y,4/26/2005,r,0.0,3,1,NaN,NaN,NaN,NaN,4/13/2007,NaN,Ampulla Ac,124
1,Ampulla Ac|173,PN2,11/10/1939,m,y,1/21/2010,r,0.0,1,0,x,1,0,NaN,8/30/2012,NaN,Ampulla Ac,173
2,Ampulla Ac|177,PN3,5/27/1917,f,NaN,9/20/2005,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5/28/2006,NaN,Ampulla Ac,177
3,Ampulla Ac|200,PN4,5/29/1932,f,n,2/9/2012,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/16/2012,NaN,Ampulla Ac,200
4,Ampulla Ac|225,PN5,11/23/1936,m,n,4/18/2011,r,0.0,2,0,x,1,0,NaN,8/14/2011,NaN,Ampulla Ac,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,Perihilary Ac|419,PN359,12/8/1975,m,NaN,6/27/2011,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7/20/2012,NaN,Perihilary Ac,419
387,Perihilary Ac|437,PN360,2/17/1932,f,n,12/10/2008,r,0.0,3,x,x,0,0,NaN,NaN,NaN,Perihilary Ac,437
388,Perihilary Ac|6,PN361,4/13/1957,f,n,11/28/2011,r,0.0,2,0,NaN,0,0,1.0,NaN,NaN,Perihilary Ac,6
389,Perihilary Ac|7,PN361,4/13/1957,f,n,11/28/2011,r,0.0,2,0,NaN,0,0,1.0,NaN,NaN,Perihilary Ac,7
390,Perihilary Ac|9,PN362,11/7/1944,m,y,10/7/2009,b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/14/2013,NaN,Perihilary Ac,9